{% extends 'base.html' %}
{% block body %}


<div class="col-md-9 col-md-offset-1 test">
{{ t.test_text }}
    {{ error }}

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
                {{ q.question }}
            </h3>
          </div>
         <form method="post" action="{% url 'qtest' t.id %}">{% csrf_token %}

             <div class="panel-body">
            {% for c in q.choice_set.all %}
                 <input type="hidden" name="question" value="{{ q.id }}"/>
                  <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ c.id }}" />
                {{ c.choice }}
            {% endfor %}

             </div>
             <input type="submit" value="answer" >
         </form>
        </div>
</div>


{% endblock %}