<!DOCTYPE html>
<html>
<head>
	<title>this is a sample code</title>
</head>
<body>
<ul class="list question">
	<li class="list-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis iusto eius mollitia nulla architecto eveniet quasi dolorum harum, officiis possimus neque, maiores, sequi repellat veritatis porro dicta, laboriosam ut fugiat.</li>
	<li class="list-item">Eius quod similique tenetur quibusdam voluptates dolor beatae voluptatibus provident sed dicta libero mollitia officia, possimus corporis eaque consectetur quisquam a quasi quidem dolore, tempora fugiat. Tempore ratione nesciunt, recusandae!</li>
	<li class="list-item">Hic quia possimus labore dolorem commodi repudiandae sint nesciunt numquam consequatur unde alias debitis impedit asperiores beatae sapiente, eligendi praesentium nemo atque distinctio iure, repellendus minus necessitatibus. Voluptates, assumenda aliquid!</li>
	<li class="list-item">Suscipit debitis ducimus voluptatum voluptatibus officiis obcaecati praesentium, laudantium pariatur. Dolorem, labore quaerat libero tenetur nulla eum, nemo aspernatur sequi ducimus repellendus deleniti in facilis aperiam nostrum. Commodi, vel, explicabo.</li>
</ul>
</body>
</html>